@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

:root{
    --main-w: 95vw;
    --main-h: 90vh;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /*cursor: none !important;*/
}

body{
    font-family: "Patrick Hand", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#cursor{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    transition:ease-out .2s;
    animation: cursorAnim .5s infinite alternate;
    z-index: 1;
    pointer-events: none;
}

#cursor::after{
    content: '';
    width: 40px;
    height: 40px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: -6px;
    animation: cursorAfterAnim .5s infinite alternate;
}

#cursor.click{
    animation: cursorClickAnim .5s forwards;
    border: 2px solid black;
}

@keyframes cursorAnim{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

@keyframes cursorAfterAnim{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(.8);
    }
}

@keyframes cursorClickAnim{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

main{
    height: var(--main-h);
    width: var(--main-w);
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

#mainContainer{
    width: 660px;
}

#timeZone{
    display: flex;
    justify-content: right;
    font-size: 35px;
    gap: 20px;
}

#timeZone span{
    user-select: none;
    font-weight: bold;
}

#timeZone button{
    background: transparent;
    cursor: pointer;
}

#timeZone button:hover i{
    color: tomato;
}

#timeZone button i{
    font-size: 35px;
    transition: ease .2s;
}

#currentTime{
    font-size: 200px;
    user-select: none;
    font-weight: bold;
}

#currentDate{
    display: block;
    text-align: right;
    font-size: 35px;
    user-select: none;
    font-weight: bold;
}

#timeZoneSelectModal{
    opacity: 0;
    pointer-events: none;
    width: var(--main-w);
    height: var(--main-h);
    background-color: rgba(255, 255, 255, .7);
    position: absolute;
    border: 4px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s ease;
}

#timeZoneSelectModal #timeZoneSelectDiv{
    width: 50%;
    border: 5px solid black;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    opacity: 1;
    background-color: white;
}

#timeZoneSelectModal #timeZoneSelectDiv #timeZoneModalTitle{
    font-size: 35px;
    user-select: none;
}

#timeZoneSelectModal #timeZoneSelectDiv #modalBottomContainer{
    display: flex;
    gap: 15px;
}

#timeZoneSelectModal #timeZoneSelectDiv #modalBottomContainer #selectContainer{
    width: 80%;
    position: relative;
}

#timeZoneSelectModal #timeZoneSelectDiv #modalBottomContainer #selectContainer select{
    width: 100%;
    background-color: transparent;
    border: 4px solid black;
    border-radius: 10px;
    font-size: 24px;
    font-family: "Patrick Hand", cursive;
    font-weight: bold;
    padding: 20px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    cursor: pointer;
    position: relative;
}

#timeZoneSelectModal #timeZoneSelectDiv #modalBottomContainer #selectContainer i{
    pointer-events: none;
    font-size: 32px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0%, -50%);
}

#timeZoneSelectModal #timeZoneSelectDiv #modalBottomContainer button{
    background: transparent;
    font-family: "Patrick Hand", cursive;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    transition: ease .2s;
}

#timeZoneSelectModal #timeZoneSelectDiv #modalBottomContainer button:hover{
    color: tomato;
}

@media only screen and (max-width: 700px) {
    :root{
        --main-h: 97vh;
    }

    #mainContainer{
        width: 330px;
    }

    #timeZone{
        font-size: 24px;
        gap: 10px;
    }

    #timeZone button i{
        font-size: 24px;
    }

    #currentTime{
        font-size: 100px;
    }

    #currentDate{
        font-size: 24px;
    }

    #timeZoneSelectModal #timeZoneSelectDiv{
        width: 90%;
        padding: 20px;
        gap: 10px;
    }

    #timeZoneSelectModal #timeZoneSelectDiv #timeZoneModalTitle{
        font-size: 24px;
    }
    
    #timeZoneSelectModal #timeZoneSelectDiv #modalBottomContainer{
        gap: 10px;
    }

    #timeZoneSelectModal #timeZoneSelectDiv #modalBottomContainer #selectContainer select{
        font-size: 16px;
        padding: 15px;
    }
    
    #timeZoneSelectModal #timeZoneSelectDiv #modalBottomContainer #selectContainer i{
        font-size: 16px;
        right: 15px;
    }
    
    #timeZoneSelectModal #timeZoneSelectDiv #modalBottomContainer button{
        font-size: 20px;
    }
}